header{
    background-color: rgba(204, 255 ,255, 0.9);
    
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

h1{
    align-content: center;
    padding-left: 50px;
}

main {
margin-top: 60px;
margin-left: 120px;
 display: flex;
  flex-wrap: wrap;
  padding: 70px 20px 100px 20px;
  min-height: 300px;
  display: inline-block;
}

#row_day td{
    border-style: hidden;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}

.time{
    border-style: hidden;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 25px;
}

.each_button{
    border: 1px solid black;
    width: 150px;
    height: 50px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-style: hidden;
      border-radius: 2px;
}
.each_button:hover {
    border: 1px solid aqua;
    background-color: azure;
    width: 150px;
    height: 50px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.25);
    //border-style: hidden;
      border-radius: 2px;
    
}

table tr {
    
    border: 1px solid black;
}


/*.day {
    
   
    border-style: hidden;
}
*/

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#add-note-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.todo-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.todo-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.todo-input-element input,
.todo-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.todo-input-element textarea {
  min-height: 64px;
}

.todo-input-element.required label::after {
  content: ' *';
  color: red;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #2464f5;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #5481e4;
}